* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Arial, sans-serif;
 background-color: #f7f7f7;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

/* Header styles */
header {
 background-color: #333;
 color: #fff;
 padding: 20px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.header-left {
 display: flex;
 align-items: center;
}

.header-left img {
 width: 75px;
 height: 75px;
 margin-right: 20px;
}

.header-right {
 display: flex;
 align-items: center;
}

.header-right a,
.header-right button {
 color: #333;
 text-decoration: none;
 margin-left: 20px;
 background-color: #fff;
 padding: 8px 15px;
 border-radius: 5px;
 transition: all 0.3s ease;
}

.header-right a:hover,
.header-right button:hover {
 background-color: #555;
 color: #fff;
}

/* Content styles */
.content {
 text-align: center;
 padding: 50px;
 flex: 1;
}

.content h2 {
 font-size: 24px;
 margin-bottom: 20px;
}

.content select,
.content input[type="text"],
.content button {
 margin: 10px 0;
}

.language-list {
 margin-bottom: 10px;
}

/* Footer styles */
footer {
 background-color: #333;
 color: #fff;
 padding: 20px;
 text-align: center;
 margin-top: auto;
}

/* Table styles */
table {
 width: 100%;
 border-collapse: collapse;
 margin-bottom: 20px;
 margin-top: 20px;
}

th,
td {
 padding: 12px;
 border: 1px solid #ddd;
 text-align: left;
}

th {
 background-color: #f2f2f2;
}

tr:hover {
 background-color: #f5f5f5;
}

img {
 width: 200px;
 margin-right: 20px;
}

/* Input and button styles */
input[type="text"],
button {
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
 outline: none;
}

button {
 background-color: #333;
 color: #fff;
 cursor: pointer;
}

button:hover {
 background-color: #555;
}

/* Additional content styles */
#searchResults {
 margin-top: 20px;
}

audio {
 display: block;
 margin: 10px 0;
}